.highcharts-credits {
    display: none;
}
.highcharts-axis , .highcharts-yaxis {
    display: none;
}

.box-tke{
	border-radius: 6px;
	padding: 10px 10px 10px 10px;
	background: #f8f9fa;
	margin-bottom: 20px;
}

.box-vn, .box-tg{
	margin-top: 50%;
	border-radius: 6px;
	padding: 5px;
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: max-content;
	font-size: 15px;
}

.box-vn{background: #c9302c;}

.box-tg{background: #3071a9;}

.text-danger-new{color: #c9302c;}
.text-danger-new1{color: #666666;}

.text-warning1 {
    color: #c9302c;
}

.text-warning1{color: #ff9c00;}

.text-warning1a{
	color: #ff0000;
}

.font24{font-size: 15px;font-weight: 700;}