.nocar{
	text-align: center;
	margin-top: 100px;
	width: -webkit-fill-available;
}
.nocar img{
	width: 160px;
	height: 160px;
}
.nocar h1{
	font-size: 30px;
    font-weight: 500;
}
.nocar p{
	color: #969696;
}
.car-list-search{
	margin-left: 0px;
}
.container-map .car-item{
	margin-bottom: 30px;
}

.kitin-loadmore{
	border: 1px solid #A1AAB3;
	border-radius: 6px;
	margin-right: 10px;
	font-size: 15px;
}
/* .kitin-loadmore:hover{
	border-color: #FF5A00;
	background-color: #FF5A00;
	color: white !important;
} */
.kitin-loadmore:focus{
	outline: none !important;
	box-shadow: none;
}
.loader-more-kitin{
	margin: 0 auto;
	width: 70px;
	display: flex !important;
    justify-content: center;
}



/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.car-list-search{
		max-height: 700px;
		overflow-y: scroll;
	}
}
/* Mobile Styles */
@media only screen and (max-width: 960px) {
	.map-view-search{
		margin-top: 82px;
	}
	.car-list-search{
		margin-top: 82px;
	}
	.maps-cotx{
		margin: 0px;
	}
	.maphide{
		display: none;
	}
}
.blurmap{
	 filter: blur(3px);
    -webkit-filter: blur(3px);
}
.map-load{
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
}
.maps-maker{
	cursor: pointer;
}
.maker-box{
	cursor: pointer;
	position: absolute;
    height: 222px;
    left: -150px;
    bottom: 5px;
    z-index: 999;
    width: 300px;
    background: #ffffff;
    border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.gm-style-mtc { display:none; }
.gm-style {
	top: -10% !important;
}
.maker-box:after{
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 156px;
    z-index: 1000;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: white;
}
.maker-box .img-thumb{
	width: 100%;
	height: 150px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 1px solid #dddddd;
}
.maker-box .img-thumb .car-price{
	position: absolute;
	background: #ffffff;
	border-radius: 5px;
	padding: 5px;
	bottom: 10px;
    right: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.maker-box .img-thumb .car-price span{
	font-weight: 500;
}
.maker-box .car-info{
	padding:5px;
}
.maker-box .car-info h5{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.maker-box .car-info .btn-marker{
	border: 1px solid;
	border-color: #A1AAB3;
    color: #A1AAB3;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    transition: all 0.2s ease-out 0.2s;
}
.maker-box .car-info .btn-marker:hover{
	border-color: #FF5A01;
    color: #FF5A01;
}
.maker-box .car-info .rating{
	font-size: 16px;
	color: #4d90fe;
}
.maker-box .car-info .book-button{
	text-align: right;
	padding-right:0;
}
.maker-box.hide{
	display: none;
}